In [ ]:
#Given a list, write a Python program to swap first and last element of the list
def l(a):
    a[0],a[-1] = a[-1],a[0]
    return a

a = [12,35,9,6,24,25]
print(l(a));

[25, 35, 9, 6, 24, 12]

In [ ]:
#Swapping another way:
def l(newlist):
  size = len(newlist)
  temp = newlist[0]
  newlist[0] = newlist[size-1]
  newlist[size-1] = temp

  return newlist
newlist = [12,35,9,6,24,25]
print(l(newlist))

[25, 35, 9, 6, 24, 12]

In [ ]:
#swapping another way:
def lis(newlist):
  start, *middle, end = newlist
  newlist = [end,*middle,start]
  return newlist

newlist = [10,12,13]
print(lis(newlist))

[13, 12, 10]

In [ ]:
#swapping two elements in a list
def lis(newlist,a,b):
  size = len(newlist)
  pos1 = a
  pos2 = b
  newlist[pos1],newlist[pos2] = newlist[pos2],newlist[pos1]
  return newlist
newlist = [1,2,3,4,5]
a = 1
b = 2
print(lis(newlist,a,b))

[1, 3, 2, 4, 5]

In [ ]:
#another way for swapping two elements in a list
def lis(newlist, a, b):
    # Swapping the elements at positions a and b
    temp = newlist[a]
    newlist[a] = newlist[b]
    newlist[b] = temp
    return newlist

# Driver code
newlist = [1, 2, 3, 4, 5]
a = 1
b = 2
print(lis(newlist, a, b))

[1, 3, 2, 4, 5]

In [ ]:
#python elements - swapping elements in string list
a = 'prep varshini'
b = a.replace('varshini','yoshitha')
print(b)

prep yoshitha

In [ ]:
#use replace() + list comprehension
# a temporary placeholder - is used to avoid overlapping and to get the expected output
test_list = ['Gfg', 'is', 'best', 'for', 'Geeks']

res = [sub.replace('G','-').replace('e','G').replace('-','e') for sub in test_list]
print(" The string is:"+ str(res))

# Here str is used for str(res) instead of printing only res is python cannot concat string with list so we need to convert list into string

 The string is:['efg', 'is', 'bGst', 'for', 'eGGks']

In [ ]:
test_list = ['Gfg', 'is', 'best', 'for', 'Geeks']

print("The original list is:",str(test_list))

#Now perform join

res = ",".join(test_list)
print("the string after join is:",str(res))
res = res.replace('G','-').replace('e','G').replace('-','e').split(',')

print("the string after join is:",str(res))

The original list is: ['Gfg', 'is', 'best', 'for', 'Geeks']
the string after join is: Gfg,is,best,for,Geeks
the string after join is: ['efg', 'is', 'bGst', 'for', 'eGGks']

In [ ]:
#using regular expressions
#regex is a powerful tool for pattern matching and text manipulation
#import re to work with regex
import re
test_list = ['Gfg', 'is', 'best', 'for', 'Geeks']
print("The original list is:",str(test_list))

res = [re.sub('-','e',re.sub('e','G',re.sub('G','-',sub))) for sub in test_list]

print("the string is:",str(res))

The original list is: ['Gfg', 'is', 'best', 'for', 'Geeks']
the string is: ['efg', 'is', 'bGst', 'for', 'eGGks']

In [ ]:
#Ways to find the length of a list in python
#1.it can be found using len()
#2.using naive bayes
#using length_hint()
#length of a list using sum() function
#length can be found using recursion
#using enumerate() function

In [ ]:
#length of a list
l = [1,2,3,4,5]
print(len(l))

5

In [ ]:
#naive method
a = [1,2,3,4,5]

count = 0

for i in a:
  count = count+1

print(count)

5

In [ ]:
#using length_hint()
from operator import length_hint
a = [1,2,3,4,5]

n = length_hint(a)

print(n)

5

In [ ]:
#length of list using sum() function
o = [1, 2, 3, 2, 5]

list_len = sum(1 for i in o)

print(list_len)

5

In [ ]:
#length of the list using list comprehension

o = [1,2,3,4,5]
list_len = sum(1 for _ in o)
print(list_len)

5

In [ ]:
#can be found using recursion
def count_elements_recursion(lst):
    # Base case: if the list is empty, return 0
    if not lst:
        return 0
    # Recursive case: add 1 to the count of the remaining elements in the list
    return 1 + count_elements_recursion(lst[1:])


# Test the function with a sample list
lst = [1, 2, 3, 4, 5]
print("The length of the list is:", count_elements_recursion(lst))

# Output: The length of the list is: 5

The length of the list is: 5

In [ ]:
#using enumerate function
lis1 = [1,2,3,4,5]
s = 0
for i in enumerate(lis1):
  s+=1
print(s)

5

In [ ]:
#max of two numbers in python
#can be done using maxfunction

a = 2
b = 4
maximum =  max(a,b)
print(maximum)

4

In [ ]:
#max of two numbers in python
#can be done using if else function

def maximum(a,b):
  if a>=b:
    return a
  else:
    return b
a = 2
b =4
print(maximum(a,b))

4

In [ ]:
#max of two numbers in python
#can be done using sort function


a = 2
b =4
x = [a,b]
x.sort()
print(x[-1])

4

In [ ]:
#max of two numbers in python
#can be done using list comprehension
a = 2
b =4
x = [a if a>b else b]
print(x)

[4]

In [ ]:
#max of two numbers in python
#can be done using lambda function
a = 2; b=4
maximun =lambda a,b: a if a>b else b
print(f'{maximum(a,b)} is a maximum number')

4 is a maximum number

In [ ]:
#min of two numbers in python
#can be done using if else
def minimum(a,b):
  if b>=a:
    return a
  else:
    return b
a = 2
b =4
print(minimum(a,b))

2

In [ ]:
#using min function

a =2; b=4
minimum = min(a,b)
print(minimum)

2

In [ ]:
#using sorted function
a = 2
b = 4
print(sorted([a, b])[0])

2

In [ ]:
from functools import reduce

a = 2
b = 4
minimum = reduce(lambda x, y: x if x < y else y, [a, b])
print(minimum)

2

In [ ]:
#check if element exists in list in python
def createlist(my_list, x):
   return x in my_list

my_list = [1,2,3,4,5]
x = 3

result = createlist(my_list,x)
print(result)

True

In [ ]:
def createlist(my_list,x):
  if x in my_list:
    return x
  else:
    return "not present"

my_list = [1,2,3,4,5]
result = createlist(my_list,x)
print(result)

3

In [ ]:
#using in
l = [1,2,3,4,5]
i = 6
if i in l:
  print("number exists")
else:
  print("number doesnot exist")

number doesnot exist

In [ ]:
#ways to clear list in python
l = [2,3,6,7]
print("befor:",l)
l.clear()
print("after:",l)

befor: [2, 3, 6, 7]
after: []

In [ ]:
#reinitializing the list
list1 = [1,2,3]
print("Before:",list1)
list1 = []
print("After:",list1)

Before: [1, 2, 3]
After: []

In [ ]:
#using *= 0
list1 = [1,2,3]
print("Before:",list1)
list1 *= 0
print("After:",list1)

Before: [1, 2, 3]
After: []

In [ ]:
#using del
#using *= 0
list1 = [1,2,3]
print("Before:",list1)
del list1[:]
print("After:",list1)

Before: [1, 2, 3]
After: []

In [ ]:
list1 = [1, 2, 3]

# Printing list1 before deleting
print("List1 before deleting is : " + str(list1))

# deleting list1
while(len(list1) != 0):
    list1.pop()
print("List1 after clearing using del : " + str(list1))

List1 before deleting is : [1, 2, 3]
List1 after clearing using del : []

In [ ]:
#reversing a list
#slicing techniue
a = [1,2,3,4,5]

reversed_list = a[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
#reversing the list
#using loops and functions
def rev_function(arr,size):
   i = 0
   while i < size//2:
    arr[i],arr[size-i-1] = arr[size-i-1],arr[i]
    i +=1
   return arr
arr = [1,2,3,4,5]
size = 5
print("array after reversing:",rev_function(arr,size))

array after reversing: [5, 4, 3, 2, 1]

In [ ]:
#reverse list using the reversed() and the reverse() built in function

a = [1,2,3,4,5]
a.reverse()
print(a)

c = [ 5, 4, 3, 2, 1]
list(reversed(c))
print(c)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [ ]:
#reversing a sub list from specific index to another specific index
my_list = [1, 2, 3, 4, 5]
print('Original list:', my_list)
my_list[1:4] = my_list[1:4][::-1]
print('Reversed sublist:', my_list)

Original list: [1, 2, 3, 4, 5]
Reversed sublist: [1, 4, 3, 2, 5]

In [ ]:
#accessing elements in reverse order
my_list = [1, 2, 3, 4, 5]
for element in reversed(my_list):
    print(element)

5
4
3
2
1

In [ ]:
#cloning or copying a list
#use the slicing technique

def copying(lis1):
  li1 =  lis1[:]
  return li1

lis1 = [1,2,3,4,5,6]
li2 = copying(lis1)
print("Original lsit:", li2)

Original lsit: [1, 2, 3, 4, 5, 6]

In [ ]:
#copying using extend method
def cloning(l1):
  l1_copy = []
  l1_copy.extend(l1)
  return l1_copy
l1 = [1,2,3,4,5]
print(cloning(l1))

[1, 2, 3, 4, 5]

In [ ]:
# Python code to clone or copy a list
# Using the List copy using =
def Cloning(li1):
    li_copy = li1
    return li_copy

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# importing copy module
import copy

# initializing list 1
li1 = [1, 2, [3,5], 4]

# using copy for shallow copy
li2 = copy.copy(li1)

print(li2)

[1, 2, [3, 5], 4]

In [ ]:
# Using list comprehension
def Cloning(li1):
    li_copy = [i for i in li1]
    return li_copy

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#Count occurences of an element in a list
def lis(lis1,x):
  i = 0
  for ele in lis1:
    if (ele==x):
      i = i+1

  return i

lis1 = [1,2,3,4,5,6,5,5]
x = 6
print(lis(lis1,x))

1

#using the pandas series value counts() function
Pandas Series.value_counts() function return a Series containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element.

In [ ]:
import pandas as pd

lis1 = [1, 2, 3, 4, 5, 6, 5, 5]

# Creating a Series from the list and then using value_counts()
count = pd.Series(lis1).value_counts()

print(count)

5    3
1    1
2    1
3    1
4    1
6    1
Name: count, dtype: int64

In [ ]:
#sum and average of a list in python
l = [1,2,3,4,5,6]
i = 0
for k in l:
  i+=k
print("sum is:",i)

avg = i/len(l)

print("avg is:", avg)

sum is: 21
avg is: 3.5

In [ ]:
#sum of number digits in list
l = [12,30,14,15]
print("list is:", l)

new_list = []
for ele in l:
  sum = 0
  for digit in str(ele):
    sum+=int(digit)
  new_list.append(sum)

print(str(new_list))

list is: [12, 30, 14, 15]
[3, 3, 5, 6]

using numpy

In [ ]:
import numpy as np
test_list = [12,13,14,15,16]
print("The original list is:",test_list)
res = np.sum([list(map(int,str(ele))) for ele in test_list],axis = 1)
print(str(res))

The original list is: [12, 13, 14, 15, 16]
[3 4 5 6 7]

#every time each number is converted into a string because each character is treated separetly. 12 is 1 and 2, 13 is 1 and 3

In [ ]:
#multiply all numbers in a list
lis1 = [1,2,3]
result  = 1
for i in lis1:
  result = result*i

print("result after multiplication:",result)

result after multiplication: 6

In [ ]:
import numpy
#the other way is using numpy.prod

lis1 = [1,2,3]
result = numpy.prod(lis1)
print(result)

6

In [ ]:
#write a program to find the smallest number in a list
l = [23,45,32,4,56]
min = l[0]
for i in range(len(l)):
  if l[i]<min:
    min = l[i]
print(min)
print(range(len(l)))

4
range(0, 5)

In [ ]:
#there are also min function, .sort function to find the min number

Smallest element is: 1

In [ ]:
#also find the largest number in a list
#using sort function

l = [1,2,3,5,4]
l.sort()
print(l[-1])

5

In [ ]:
#using traverse

l = [1,2,3,6,5]
max = l[0]
for i in range(len(l)):
  if l[i]> max:
    max = l[i]

print(max)

6

In [ ]:
#program to find the second largest number in a list
l = [1,2,3,4,5]
l.sort()
print(l[-2])

4

In [ ]:
# Define the list of numbers
numbers = [10, 20, 4, 45, 99, 99, 99]

# Initialize variables for the largest and second largest numbers
largest = None
second_largest = None

# Iterate through each number in the list
for number in numbers:
    # Update the largest and second largest numbers
    if largest is None or number > largest:
        # Update second largest to the old largest
        second_largest = largest
        # Update largest to the current number
        largest = number
    elif number != largest and (second_largest is None or number > second_largest):
        # Update second largest if the current number is less than largest but greater than second largest
        second_largest = number

# Check if we found a second largest number
if second_largest is None:
    print("No second largest number found")
else:
    print("The second largest number is:", second_largest)

The second largest number is: 45

In [ ]:
# Python program to print Even Numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93]

# iterating each number in list
for num in list1:

    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [ ]:
# Python Program to print odd numbers in a list

for num in list1:

    # checking condition
    if num % 2 != 0:
        print(num, end=" ")

21 45 93

In [ ]:
for i in range (4,15,2):
  print(i)

4
6
8
10
12
14

In [ ]:
#print all odd numbers in a specified range
start, end = 4,19
for i in range(start, end+1):
  if i%2!=0:
    print(i)

5
7
9
11
13
15
17
19

In [ ]:
#program to count even and odd numbers in a list

l = [21,22,23,24,25,26,27]
count_even = 0
count_odd = 0

for i in l:
  if(i%2==0):
    count_even+=1
  else:
    count_odd+=1

print(count_even)
print(count_odd)

3
4

In [ ]:
#python program to print positive numbers in a list
list1 = [12, -7, 5, 64, -14]

for i in list1:
  if i > 0:
    print(i)

12
5
64

In [ ]:
#python program to print negative numbers in a list
list1 = [12, -7, 5, 64, -14]

for i in list1:
  if i < 0:
    print(i)

-7
-14

In [ ]:
#python program to print all positive numbers in a range

for i in range(-5,15):
  if i > 0:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
#python program to print all -ve numbers in a range

for i in range(-5,15):
  if i < 0:
    print(i)

-5
-4
-3
-2
-1

In [ ]:
#python program to count postive and negative numbers in a list
count_p = 0
count_n = 0
for i in range(-5,15):
  if (i<0):
    count_n+=1
  else:
    count_p+=1
print(count_p)
print(count_n)

15
5

In [ ]:
#remove multiple elements from a list in python

lis = [1,2,3,4,5,6]

l = [5,6]

for i in lis:
  if i not in l:
    print(i)

1
2
3
4

In [ ]:
#removing empty tuples
def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples

# Driver Code
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
tuples = [(), ('ram', '15', '8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('', ''), ()]

def remove(tuples):
  for i in tuples:
    if(len(i)==0):
      tuples.remove(i)
    return tuples
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
#program to print duplicates
list1 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

# List to keep track of printed duplicates
printed_duplicates = []

for i in range(len(list1)):
    for j in range(i + 1, len(list1)):
        if list1[i] == list1[j] and list1[i] not in printed_duplicates:
            print(list1[i])
            printed_duplicates.append(list1[i])
            break  # Exit the inner loop to avoid printing the same duplicate again

20
30
-20
60